@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
 font-family: 'Shantell Sans', cursive;
font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
:root{
  --black:#000000;
  --white:#ffffff;
--blue-lg:linear-gradient(90deg, rgba(0,84,183,1) 0%, rgba(8,163,209,1) 100%);
--blue-yellow-lg:linear-gradient(90deg, rgba(0,84,183,1) 0%, rgba(255,216,0,1) 100%);
--blue-lg-2:linear-gradient(90deg, rgba(0,84,183,1) 0%, rgba(23,158,229,1) 100%);
--red-lg:linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(201,9,9,1) 100%);
--yellow:#ffba00;
--wblue:#1ba9ca;
--wblue-2:#3cd9cd;
--sblue:#0376c2;
--brown:#ccc;
--transition: .2s linear;
}

html {
font-size: 62.5%;
scroll-behavior: smooth;
}
body{
  font-size: 1.5rem;
  line-height: 1.6;
  background: var(--blue-lg);
  word-wrap: break-word;
  overflow-x: hidden;
position:relative;
}
::-webkit-scrollbar {
width: 1rem;
}

::-webkit-scrollbar-track {
background: #fff;
}
p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
}
ul{list-style:none;}

a {
  transition: var(--transition);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
}
img {
  width: 100%;
  height: auto;
}
input[type=text],
input[type=password],
input[type=email],
input[type=tel],
textarea{
direction: ltr;
padding: 1rem 1.2rem;
outline: 0;
font-family: inherit;
font-size: 1.5rem;
text-transform: none;
box-sizing: border-box;
-webkit-appearance: none;
box-shadow: none!important;
border-radius: 0!important;
height: 6rem;
}
textarea{
height:auto;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus{
border: 0.085rem solid var(--light-theme);
}
.form-control-container{
display: flex;
flex-direction: column;
gap:1.5rem;
}
.form-control-container .form-label{
font-size: 1.5rem;
color:var(--dark-theme);
letter-spacing: 1px;
font-weight: 300;
}
.form-control{
  position: relative;
}
.form-control .required{
  position: absolute;
  right:1rem;
  top:0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 3rem;
  color:var(--bg-red);
}
.form-control>input,
.form-control>textarea{
  width: 100%;
}
.title-1,
.title-2,
.title-3{
  letter-spacing: 1px;
  text-transform: uppercase;
}
.title-1{
  font-size: 4rem;
  font-weight: 700;
}
.title-2{
  font-size: 3rem;
  font-weight: 500;
}
.title-3{
  font-size: 3.4rem;
  font-weight: 400;
}
.hr-bar{
  width:10%;
  height:0.3rem;
}
.container{
  margin-right: auto;
      margin-left: auto;
  width:90%;	
  height: 100%;
  }

.container-fluid{
  margin-right: auto;
      margin-left: auto;
  width:100%;	
  height: 100%;
  }
.remove-scroll{
overflow-y:hidden;
}
span{
font-size: 1.5rem;
letter-spacing: 1px;
font-weight: 400;
}
.overlay{
position: absolute;
top:0;
left: 0;
transform: scale(0);
background: rgba(0,0,0,0.6);
transition: var(--transition);
}
.overlay.active{
width: 100%;
height: 100%;
transform: scale(1);
z-index: 50;
}

.offer-btn{
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.offer-btn .left{
  background: var(--yellow);
  padding: 1rem;
}
.offer-btn .left>span{
  color:var(--black);
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.offer-btn .right{
  background: var(--wblue-2);
  padding: 1rem;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.offer-btn.alt .right{
  background: var(--white);
}
.offer-btn .right>p{
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color:var(--white);
  text-transform: uppercase;
}
.offer-btn.alt .right>p{
  color:var(--black);
}

.btn{
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  cursor:pointer;
}
.loader{
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes ldio-4kqc2z5oicc-1 {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}
@keyframes ldio-4kqc2z5oicc-2 {
    0% { transform: rotate(180deg) }
   50% { transform: rotate(225deg) }
  100% { transform: rotate(180deg) }
}
.ldio-4kqc2z5oicc > div:nth-child(2) {
  transform: translate(-15px,0);
}
.ldio-4kqc2z5oicc > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: var(--wblue);
  animation: ldio-4kqc2z5oicc-1 1s linear infinite;
  transform-origin: 60px 60px
}
.ldio-4kqc2z5oicc > div:nth-child(2) div:nth-child(2) {
  animation: ldio-4kqc2z5oicc-2 1s linear infinite
}
.ldio-4kqc2z5oicc > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}@keyframes ldio-4kqc2z5oicc-3 {
    0% { transform: translate(190px,0); opacity: 0 }
   20% { opacity: 1 }
  100% { transform: translate(70px,0); opacity: 1 }
}
.ldio-4kqc2z5oicc > div:nth-child(1) {
  display: block;
}
.ldio-4kqc2z5oicc > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--white);
  animation: ldio-4kqc2z5oicc-3 1s linear infinite
}
.ldio-4kqc2z5oicc > div:nth-child(1) div:nth-child(1) { animation-delay: -0.67s }
.ldio-4kqc2z5oicc > div:nth-child(1) div:nth-child(2) { animation-delay: -0.33s }
.ldio-4kqc2z5oicc > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-u8x7lf76f9 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-4kqc2z5oicc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-4kqc2z5oicc div { box-sizing: content-box; }

/*=========================================================
      HEADER START
==========================================================*/
.dt-theader{
background: var(--blue-lg-2);
padding:1rem 0;
position: relative;
}
.dt-theader .container .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.dt-theader  .side-menu::before{
  content: '';
  position: absolute;
  top: -1rem;
  left: 5rem;
  width: 0;
  height: 0;
  
}
.sbm-container{
  position: absolute;
  right: -20rem;
  top: 0;
  bottom: 0;
  height: fit-content;
  background: var(--blue-yellow-lg);
  width: 20rem;
      padding: 2rem 1rem;
}
.dt-theader  .side-menu.active::before{
  border-top: 3rem solid var(--white);
  border-left: 3rem solid transparent;
  transform: rotate(-47deg);
  z-index: 1000;
}
.sbm-container .wrapper .heading{
  padding: 2rem 0;
  width: 100%;
}
.sbm-container .wrapper .heading .btn{
  background: var(--white);
  color: var(--black);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sbm-list-wrapper .sd-item{width: 100%;}
.sbm-list-wrapper .sd-item:hover,
.sbm-list-wrapper .sd-item.active{
background: transparent;
}
.sbm-list-wrapper .sd-item:hover .img,
.sbm-list-wrapper .sd-item .img{display: block !important;}
.sbm-list-wrapper .sd-item .name{
  color:var(--white);
}

.dt-theader  .side-menu{
  position: absolute;
  width:0;
  height:0;
  padding: 0;
  top:0;
  display: none;
}
.dt-theader  .side-menu.active{
  display: block;
  z-index:1000;
  height:auto;
  width:30%;
  padding: 2rem 0;
  background: var(--white);
  top:100px;
}
.dt-theader  .side-menu .sm-container{}
.dt-theader  .side-menu .sm-container .wrapper{
  display: flex;
  flex-direction: column;
   justify-content: space-between;
   position: relative;
}
.dt-theader  .side-menu .sm-container .wrapper .close-btn{
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color:var(--black);
  font-size: 2rem;
}
.dt-theader .container .wrapper .side-menu .sm-container .wrapper .sm-frow{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.dt-theader  .side-menu .sm-container .wrapper .sm-frow .top-bar{
  display: flex;
  flex-direction: column;
  gap:1rem;
   padding: 1rem;
}
.dt-theader  .side-menu .sm-container .wrapper .sm-frow .top-bar .tb-row{
  display: flex;
  align-items: center;
  gap:2rem;
}
.dt-theader .side-menu .sm-container .wrapper .sm-frow .top-bar .profile{
margin-bottom: 2rem;
}
.dt-theader  .side-menu .sm-container .wrapper .sm-frow .top-bar .profile>img{
width:40px;
height:40px;
}
.dt-theader .side-menu .sm-container .wrapper .sm-frow .top-bar .profile>h2{
font-size: 2rem;
}
.dt-theader  .side-menu .sm-container .wrapper .sm-frow .top-bar .profile>h2{}
.dt-theader  .side-menu .sm-container .wrapper .sm-frow .top-bar .signup .btn{
  background: var(--blue-lg-2);
  color:var(--white);
  width:100%;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dt-theader .side-menu .sm-container .wrapper .sm-frow .top-bar .chat .btn{
background: var(--brown);
color:var(--black);
width:100%;
font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dt-theader .side-menu .sm-container .wrapper .sm-frow .mid-bar{}
.dt-theader .side-menu .sm-container .wrapper .sm-frow .mid-bar .wrapper{
  display: flex;
  flex-direction: column;
}
.sd-item{
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
   position: relative;
   width:100%;
   
}
.sd-item:hover,
.sd-item.active{
background: var(--blue-yellow-lg);
}
.sd-item::after{

}
.sd-item::before{
  content:'';
  position: absolute;
  left:5rem;
  width: calc(100% - 8rem);
  height:0.085rem;
   background: var(--brown);
   bottom: 0;
}
.sd-item:last-child:before{

}
.sd-item .left{
  flex:4;
  display: flex;
  align-items: center;
  gap:2rem;
  padding-left: 2rem;
}
.sd-item .left>img{
  width:40px;
  height:40px;
}
.sd-item .left .img-select{
  display: none;
  transition: var(--transition);
}
.sd-item:hover .left .img-select,
.sd-item.active .left .img-select{
display: block;
}
.sd-item .left .img{
  display: block;
  transition: var(--transition);
}
.sd-item:hover .left .img,
.sd-item.active .left .img{
  display: none;
}
.sd-item .left .name{
  color: var(--black);
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sd-item:hover .left .name,
.sd-item.active .left .name
{
  color:var(--white);
}
.sd-item .right{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  position: relative;
}
.sd-item .right .sbm-container{
  display: none;
  transition: var(--transition);
}
.sd-item:hover .right .sbm-container{
  display: block;
}
.sd-item .right>svg{
  color:var(--black);
  font-size: 2rem;
  transition: var(--transition);
}
 .sd-item.active .right>svg,
.sd-item:hover .right>svg{
  color:var(--white);
}
.side-menu .sm-container .wrapper .bottom-bar{
  width: 100%;
  padding: 4rem 0 2rem;
}
.dt-theader .container .wrapper .dt-logo{
  display: flex;
  align-items: center;
  gap:1rem;
  }
  .dt-theader .container .wrapper .dt-logo .left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .dt-theader .container .wrapper .dt-logo .left>svg{
    color:var(--white);
    font-size: 3rem;
    cursor: pointer;
  }
  .dt-theader .container .wrapper .dt-logo .right{
    display: flex;
    flex-direction: column;
  
  }
  .dt-theader .container .wrapper .dt-logo .right>h1{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color:var(--white);
    text-transform: uppercase;
  }
  .dt-theader .container .wrapper .dt-logo .right>span{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color:var(--yellow);
    text-transform: capitalize;
  }
  .dt-theader  .container .wrapper .dt-menu{
  
  }

  .dt-theader  .container .wrapper .dt-menu .dtm-wrapper{
    display: flex;
    gap:1rem;
    align-items: center;
  }
  .dt-theader  .container .wrapper .dt-menu .dtm-wrapper .dtm-item{
   cursor: pointer;

  }
  .dt-theader  .container .wrapper .dt-menu .dtm-wrapper .dtm-item>span.text{
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 2rem;
  }
  .dt-theader  .container .wrapper .dt-menu .dtm-wrapper .dtm-item>svg{
    font-size: 3rem;
    color:var(--white);
    transition: var(--transition);
  }
  .dt-theader  .container .wrapper .dt-menu .dtm-wrapper .dtm-item .btn{
    background: var(--white);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 2rem;
  }
  .dt-bheader .top-bg{
    background: var(--blue-yellow-lg);
    height:1.5rem;
  }
.dt-bheader{
  display: flex;
  flex-direction: column;
  background: var(--black);
}
.dt-bheader .container .wrapper{
  display: flex;
  gap:2rem;
  align-items: center;
  
}
.dt-bheader .container .wrapper .cat-item{
  display: flex;
  align-items: center;
  gap:1rem;
  cursor: pointer;
  padding: 1rem 0;
  position:relative;
}
.dt-bheader .container .wrapper .cat-item .icon{
  color:var(--white);
  height:32px;
  width:32px;
  transition: var(--transition);
}
.dt-bheader .container .wrapper .cat-item .label{
  color:var(--white);
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: var(--transition);
}
.dt-bheader .container .wrapper .cat-item::after{
  content:'';
position: absolute;
bottom: 0;
left:0;
width: 0;
height:0.3rem;
background: var(--yellow);
}
.dt-bheader .container .wrapper .cat-item.active::after,
.dt-bheader .container .wrapper .cat-item:hover::after{width:100%;}
.dt-bheader .container .wrapper .cat-item.active .icon,
.dt-bheader .container .wrapper .cat-item.active .label,
.dt-bheader .container .wrapper .cat-item:hover .icon,
.dt-bheader .container .wrapper .cat-item:hover .label{
  color:var(--yellow)
  
}

/*=========================================================
      HEADER END
==========================================================*/
/*=========================================================
      HERO START
==========================================================*/
.hero{
  background: var(--sblue);
  padding: 4rem 0 2rem;
}
.hero .container .wrapper{
  display: flex;
  flex-direction: column;
  gap:4rem;
  padding: 4rem 0;
}
.hero .container .wrapper .row-item.content-img{
  display: flex;
  gap:2rem;
}
.hero .container .wrapper .row-item.content-img .left{
  flex:3;
}
.hero .container .wrapper .row-item.content-img .left .hr-bar{
background: var(--blue-yellow-lg);
}
.hero .container .wrapper .row-item.content-img .left>h3,
.hero .container .wrapper .row-item.content-img .left>h1{
  color:var(--white);
}

.hero .container .wrapper .row-item.content-img .right{
  flex:2;
}
.hero .container .wrapper .row-item.content-img .right .img-box{
  height: 80%;
  width:90%;
  background-repeat: no-repeat;
  background-size:cover;

}
.hero .container .wrapper .row-item.offer-btn-row{
  display: flex;
  gap:2rem;
  align-items: center;
  justify-content: space-around;
}
.row-item.responsible-gambing-row{
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-item.responsible-gambing-row .responsible-gambing-link{
  font-size: 1.5rem;
  color:var(--white);
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: underline;
}
/*=========================================================
      HERO END
==========================================================*/
.search-game{
  display:flex;
  background:var(--white);
  padding:2rem 1rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.search-game .search-game-container{
display: flex;
align-items: center;
justify-content: space-between;
width:100%;
gap:2rem;
}
.search-game .search-game-container .left{
flex:1;
}
.search-game .search-game-container .left .search-input{
  background: var(--wblue);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  gap:1rem;
  align-items: center;
  padding-left:2rem;
}
.search-game .search-game-container .left .search-input>svg{
  color:var(--white);
  font-size:2rem;
  
}
.search-game .search-game-container .left .search-input>input{
font-size:2rem;
color:var(--white);
background: none;
    width: 100%;
}
.search-game .search-game-container .right{
flex:1;
}
.search-game .search-game-container .right .search-cat-dd .right{
display: flex;
align-items: center;
justify-content: flex-end;
}
.search-game .search-game-container .right .search-cat-dd{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.search-game .search-game-container .right .search-cat-dd .left{
  display: flex;
  gap:2rem;
  align-items: center;
}
.search-game .search-game-container .right .search-cat-dd .left>svg{
 font-size: 3rem;
 color:var(--wblue);
 cursor: pointer;
}
.search-game .search-game-container .right .search-cat-dd .left .selected-cat{
  font-size: 2rem;
  color:var(--black);
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
.search-game .search-game-container .right .search-cat-dd .right>svg{
  font-size: 3rem;
  color: var(--wblue);
  cursor: pointer;
}
.search-game .search-game-container .right .search-cat-dd{}
.search-game .all-game-dd{
  position: absolute;
  bottom: 1rem;
  width:100%;
  height:0;
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.search-game .all-game-dd.active{
  height:auto;
}
.cat-home-nav{
  padding: 2rem 0;
}
.cat-home-nav .chn-container{
  padding: 0;
}
.cat-home-nav .chn-container .wrapper{
  display: flex;
  align-items: center;
  gap:2rem;
}
.cat-home-nav .chn-container .wrapper .cat-item-btn{
  background:var(--wblue-2);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap:1rem;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
.cat-home-nav .chn-container .wrapper .cat-item-btn.active{
  background:var(--blue-yellow-lg);
}
.cat-home-nav .chn-container .wrapper .cat-item-btn>img{

}
.cat-home-nav .chn-container .wrapper .cat-item-btn .name{
  font-size: 2rem;
  color:var(--white);
  text-transform: uppercase;
  position: relative;
  padding-left: 1rem;
}
.cat-home-nav .chn-container .wrapper .cat-item-btn .name::before{
  content:'';
  position: absolute;
  left:0;
  top:0;
  height:80%;
  width:0.085rem;
  background: var(--white);
}
@media (max-width: 991px) {
  html {
    font-size: 75%;
  }
  
  .container{
    width:95%;
  }
  .dt-theader .container .wrapper .dt-menu .dtm-wrapper .dtm-item .btn{
  padding: 1rem;
  font-size: 1.5rem;
}
.dt-theader .container .wrapper .dt-menu .dtm-wrapper .dtm-item>svg{
  font-size: 2rem;
}
.dt-theader .container .wrapper .dt-logo .right>h1{font-size: 2rem;}
.dt-theader .container .wrapper .dt-menu .dtm-wrapper .dtm-item>span.text{font-size:1.5rem;}
.dt-bheader .container .wrapper{gap:1rem;}
.offer-btn .right>p {
  font-size: 1.5rem;
}
.offer-btn .left {
    padding: 0.6rem 1rem;
}
.search-game .search-game-container .right .search-cat-dd .left .selected-cat {
  font-size: 1.5rem;
}
.search-game .search-game-container .left .search-input>input {
  font-size: 1.5rem;
  }
  .dt-theader .side-menu.active{width:40%;}
  .dt-theader .side-menu .sm-container .wrapper .sm-frow .top-bar .profile>h2{font-size:1.5rem;}
.btn{padding:1rem;font-size: 1.5rem;}
.sd-item .left .name{
  font-size: 1.5rem;
}
}

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .search-game .search-game-container .right .search-cat-dd .right{
    width:100px;
  }
  .title-1 {
    font-size: 3rem;
    font-weight: 600;
}
.title-1 {
  font-size: 2.5rem;
  font-weight: 400;
}
.title-3 {
  font-size: 2rem;
  font-weight: 300;
}
.hero .container .wrapper .row-item.offer-btn-row{
  flex-direction: column;
  gap:2rem;
}
}


@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
  .sd-item {
    padding: 1rem 0;
  }
  .sd-item .left>img {
    width: 32px;
    height: 32px;
}
.cat-home-nav .chn-container .wrapper .cat-item-btn{
  padding: 1rem;
  gap:0.3rem;
}
}
@media (max-width: 400px) {
.dt-theader .side-menu.active {
    width: 70%;
}
.search-game .search-game-container{
  flex-direction: column;
}

}